<html>
    <head>
        <title>
            addgo
        </title>

        <link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

    <body>
        <div id="nav">
            <table>
                <tr>
                    <td class="logoblock">
                        <img src="images/logo1.PNG" id="logo">
                    </td>
                    <td class="navblockstitle">
                        CV Analyser and Personality Predictor
                    </td>
                    <td class="navblocks">
                        Home
                    </td>
                    <td class="navblocks">
                        Contact us
                    </td>
                </tr>
            </table>
            <hr class="line">
        </div>

        <div class="body">
            <h1 class="heading"> Get ready to recruit</h1>
           
            <form class="forms">
                <p class="content"> Please fill the form as per your requirements. We will filter out applicants based on what you fill</p>
                <label for="cname">Company name: </label><br>
                <input type="text" id="cname" name="cname"><br><br>
                <label for="req">Skills required</label><br>
                <textarea name="req" rows="5" cols="50"></textarea><br><br>
                <label for="qlf">Qualification required</label><br>
                <input type="text" id="qlf" name="qlf"><br><br>
                <input type="button" value="Submit"><br><br>
            </form>
            <br><br><br><br>
        </div>

        <div class="footer">
            <img src="images/fb.webp" class="footericon">
            <img src="images/ig2.png" class="footericon">
        </div>
    </body>
</html>