<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h3>FIRST PHASE RESULT</h3></title>
    <style>
body, html {
  height: 100%;

}
	body{
		background-image: url("https://www.seoclerk.com/pics/want54528-1TN07J1505170416.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		font-family: Arial, Helvetica, sans-serif;
	}

</style>

</head>
<body>

{%if users%}
    <div class="users" style="margin-left:20%">
        <h1 align><b>FIRST PHASE RANK LIST</b></h1>
      <table style="width:100%;">
          <tr><h2>
              <td><b>RANK</b></td>
              <td><b>NAME</b></td>
              <td><b>EMAIL ID</b></td>
              <td><b>SCORE</b></td>
          </h2>
          </tr>
        {%for user in users%}
          <tr>
              <h3>
            <td>{{user[0]}}</td>
              <td>{{user[1]}}</td>
              <td>{{user[2]}}</td>
              <td>{{user[4]}}</td>
              </h3>
          </tr>
        {%endfor%}
      </table>
    </div>
    {%endif%}
<li><a href="{{ url_for('second') }}"> <b>GOTO SECOND PHASE</b> </a></li>
</body>
</html>