<html>
    <head>
        <title>
            recruiter login
        </title>

        <link rel="stylesheet" href="style.css" type="text/css"/>
    </head>

    <body>
        <div id="nav">
            <table>
                <tr>
                    <td class="logoblock">
                        <img src="images/logo1.PNG" id="logo">
                    </td>
                    <td class="navblockstitle">
                        CV Analyser and Personality Predictor
                    </td>
                    <td class="navblocks">
                        Home
                    </td>
                    <td class="navblocks">
                        Contact us
                    </td>
                </tr>
            </table>
            <hr class="line">
        </div>

        <div class="rec_login_body">
            <h1 class="heading"> Get ready to recruit!</h1>
           
            <form action="/ad" method="post" enctype="multipart/form-data" class="form1">
                    <label for="username"><h3>Username</h3></label>
                    <input type="text" name="username">
                    <label for ="password"><h3>Password</h3></label>
                    <input type="password" name="password">

                    <div class="clearfix">

                        <button type="submit" class="signupbtn">Submit</button>
                    </div>
            </form>
     
            <br><br><br><br>
        </div>

        <div class="footer">
            <img src="images/fb.webp" class="footericon">
            <img src="images/ig2.png" class="footericon">
        </div>
    </body>
</html>