<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LAST PHASE RESULT</title>
    <style>
body, html {
  height: 100%;
}
	body{
		background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTWIfXb9nrNOrH4vq6H3HMrnikDXdMLRyik6j4Qzxu8wMThEwCK&usqp=CAU);
		background-repeat: no-repeat;
		background-size: cover;
<!--		width: 100%;-->
font-family: Arial, Helvetica, sans-serif;
	}

</style>

</head>
<body>
{%if answer%}
    <div class="users" style="margin-left:20%">
        <h1><b>FINAL RANK LIST</b></h1>
      <table style="width:100%;">
          <tr>
              <h2>
              <td><b>RANK</b></td>
              <td><b>NAME</b></td>
              <td><b>EMAIL ID</b></td>
              <td><b>SCORE</b></td>
              </h2>
          </tr>

        {%for user in answer%}
          <tr>
              <h3>
                  <b>
            <td>{{user[0]}}</td>
              <td>{{user[1]}}</td>
              <td>{{user[2]}}</td>
              <td>{{user[3]}}</td>
                  </b>
              </h3>
          </tr>
        {%endfor%}
      </table>
    </div>
    {%endif%}

</body>
</html>